body {
    background-image: url("https://www.vamosrayos.com/b/2020/01/light-blue-background-design-images-hd-wallpaper-for-wedding.jpg");
   background-size: auto 100vh;
    font-family: Arial;
   height: 100vh;
 }
 
 .menu {
    background-color: white;      
 }
 
 .menu ul {
   display: flex;
   justify-content:space-around;
 }
 
 .menu li {
   list-style: none;  
 }
 
 a {
   color: darkblue;
   text-decoration: none;
 }
 
 a:hover {
   text-decoration: underline;
 }
 
 .site-subtitle,
 .site-title {
   color: whitesmoke;
   text-align: center;
 }
 
 
 .site-subtitle {
   font-style: italic;
 }